# https://dart.dev/guides/libraries/private-files
# Created by `dart pub`
.dart_tool/
mysql_data
.env
service_locator_config.config.dart
controller_route.g.dart
user_auth_controller.g.dart
user_controller.g.dart
categories_controller.g.dart
supplier_controller.g.dart
schedule_controller.g.dart